.form {
	display: flex;
	gap: 8px;
}

.form input[type='text'] {
	width: 39.875rem;
	height: 3.375rem;

	background: var(--gray-500);
	color: var(--gray-300);

	border: 1px solid var(--gray-700);
	border-radius: 8px;

	padding: 1rem;
}

.form button[type='submit'] {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;

	width: 6.625rem;
	height: 3.375rem;

	font-size: 0.875rem;

	background: var(--blueDark);
	color: var(--gray-100);

	border: 0;
	border-radius: 8px;

	font-weight: bold;

	cursor: pointer;
}

.form button[type='submit']:hover {
	filter: brightness(0.9);
}
