.todo {
	width: 100%;

	display: flex;
	justify-content: space-between;

	padding: 16px;

	background: var(--gray-500);
	color: var(--gray-100);

	font-size: 0.875rem;

	border: 1px solid var(--gray-400);
	border-radius: 8px;
}

.todo span {
	display: flex;
	align-items: flex-start;
	gap: 16px;
}

.todo span label {
	cursor: pointer;
}

.todo span :checked + label {
	color: var(--gray-300);
	text-decoration: line-through;
}

.todo span input[type='checkbox'] {
	appearance: none;

	height: 1rem;
	width: 1rem;

	display: grid;
	place-items: center;

	background: transparent;

	border-radius: 50%;
	box-shadow: 0 0 0 2px var(--blue);

	cursor: pointer;
}

.todo span input[type='checkbox']:hover {
	background: var(--gray-400);
}

.todo span input[type='checkbox']:checked {
	background: var(--purple);
	box-shadow: 0 0 0 2px var(--purple);
}

.todo span input[type='checkbox']::after {
	content: '';
	display: block;
	transition: transform 300ms;

	/* ou */
	/* display: none;
	content: '\2713';
	font-size: 0.875rem;
	color: var(--gray-100); */
}

.todo span input[type='checkbox']:checked::after {
	width: 4px;
	height: 8px;
	margin-bottom: 2px;

	border-bottom: 2px solid var(--gray-100);
	border-right: 2px solid var(--gray-100);
	transform: rotate(45deg);

	/* ou */
	/* display: block; */
}

.todo button {
	width: 1.5rem;
	height: 1.5rem;

	margin-left: 16px;

	display: grid;
	place-items: center;

	background: transparent;
	color: var(--gray-300);

	border: none;

	cursor: pointer;
}

.todo button:hover {
	color: var(--danger);
}
